// Main
// -------------------------


// Utillity classes
// $Per not sure where to put this part
// -------------------------

/* FORM GRID */
.pim-pane {
  margin: 20px 20px;
}
.pim-control-group {
  border-bottom: 0px solid $gray-10;
  padding-bottom: 0px;
  margin-bottom: 15px !important;
}

.pim-control-group.-no-border {
  border: none;
}

/*COMPACT MODE */
.compact .pim-pane{margin: 0px 0px 15px 0px;}
.compact .pim-control-group {
  border-bottom: 1px solid $gray-10;
  padding-bottom: 10px;
  margin-bottom: 5px !important;
}
.compact label.control-label {
  padding-top: 0px !important;
  margin-bottom: 0px;
}

.compact .controls-row{padding-top: 0px }

.pim-pane > .pim-control-group:last-child {
  border: none;
  padding-bottom: 0 !important;
}

.pim-control-group .pim-el-wrap {
    padding: 0 0 $spacing-medium 0;
}


/* TABLE */
.pim-table {
  table-layout: fixed;
  word-wrap: break-word;
}
.pim-no-border {
  border: none !important;
}

table thead a {
  color: $gray-2;
}
