<div class="StructPIM">
    <div class="pim-panel pim-editor-wrapper" ng-controller="umbracocommerce.shopedit.controller">
        <!--header-->
        <div class="pim-editor-header pim-panel-header">

            <div class="pim-panel-header-content-wrapper">

                <div class="pim-panel-header-content">
                    <div class="pim-panel-header-left-side">
                        <div class="pim-panel-header-icon">
                            <i class="pim-icon pim-icon-store pim-icon-32"></i>
                        </div>
                        <div class="pim-panel-header-title-wrapper">
                            <div class="pim-panel-header-name">
                                {{settings.Name}}
                            </div>
                            <div class="pim-panel-header-locked-description">
                                Manage settings for Umbraco Commerce store
                            </div>
                        </div>
                    </div>
                    <!--<div class="btn-group">
                        <quickactionsbutton />
                    </div>-->
                </div>
            </div>
        </div>
        <div class="pim-panel-tab-navigation">
            <!--tabs definition-->
            <ul class="nav nav-tabs pim-nav-tabs" role="tablist">
                <li role="presentation" ng-class="{'active': controlModel.activeTab === 'pimSettings'}"><a ng-click="controlModel.activeTab = 'pimSettings'">PIM settings</a></li>
                <li role="presentation" ng-class="{'active': controlModel.activeTab === 'pricingModel'}"><a ng-click="controlModel.activeTab = 'pricingModel'">Pricing</a></li>
                <li role="presentation" ng-class="{'active': controlModel.activeTab === 'inventoryModel'}"><a ng-click="controlModel.activeTab = 'inventoryModel'">Inventory</a></li>
            </ul>
        </div>
        <struct-pim-overlay ng-show="setup.overlay.show"
                            model="setup.overlay"
                            view="setup.overlay.view"
                            position="right"
                            class="pim-overlay--half">
        </struct-pim-overlay>
        <!--tabs container-->
        <div class="pim-editor-container pim-panel-body pim-scrollable row-fluid" auto-scale="1" ng-show="loaded">

            <div class="tab-content form-horizontal">

                <div id="pimSettings" class="pim-tab-pane tab-pane" ng-class="{'active': controlModel.activeTab === 'pimSettings'}">
                    <ng-form name="settingsForm">
                        <div class="pim-pane">
                            <div class="card" style="margin-bottom:20px" ng-if="loaded">
                                <div class="card-header">
                                    <h4 class="card-title">
                                        Localization
                                    </h4>
                                </div>
                                <div class="card-body pim-form-layout">
                                    <div class="pim-form-layout__wrapper">
                                        <div class="pim-form-layout__row">
                                            <div class="pim-form-layout__column">
                                                <div class="pim-el-wrap">
                                                    <label class="control-label">
                                                        Language <span class="red">*</span>
                                                        <small class="pim-detail">Select the default language for this Umbraco Commerce store. Language from Content will be used if available and setup in PIM.</small>
                                                    </label>
                                                    <div class="controls controls-row">
                                                        <selectize config="languageSelectizeConfig" ng-model="settings.LanguageId" options="languages" ng-required="true"></selectize>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pim-form-layout__column is-empty"></div>
                                        </div>
                                        <div class="pim-form-layout__row">
                                            <div class="pim-form-layout__column">
                                                <div class="pim-el-wrap">
                                                    <label class="control-label">
                                                        Dimensions <span class="red">*</span>
                                                        <small class="pim-detail">Select the dimension for this Umbraco Commerce store</small>
                                                    </label>
                                                    <div class="controls controls-row">
                                                        <div ng-repeat="dimension in dimensions">
                                                            <span class="pim-el-wrap__field pim-el-wrap__header" title="Prefix">{{dimension.Alias}}</span>
                                                            <selectize config="dimensionSelectizeConfig" ng-model="settings.DimensionSettings[dimension.Uid]" options="dimension.Segments" ng-required="true"></selectize>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pim-form-layout__column is-empty"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card" style="margin-bottom:20px" ng-if="loaded">
                                <div class="card-header">
                                    <h4 class="card-title">
                                        Synchronization
                                    </h4>
                                </div>
                                <div class="card-body pim-form-layout">
                                    <div class="pim-form-layout__wrapper">
                                        <div class="pim-form-layout__row">
                                            <div class="pim-form-layout__column">
                                                <div class="pim-el-wrap">
                                                    <label class="control-label">
                                                        Catalogue <span class="red">*</span>
                                                        <small class="pim-detail">Select the catalogue for this store</small>
                                                    </label>
                                                    <div class="controls controls-row">
                                                        <selectize config="catalogueSelectizeConfig" ng-model="settings.Catalogue" options="productCatalogues" ng-required="true"></selectize>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pim-form-layout__column is-empty"></div>
                                        </div>
                                        <div class="pim-form-layout__row">
                                            <div class="pim-form-layout__column">
                                                <div class="pim-el-wrap">
                                                    <label class="control-label">
                                                        Filter
                                                        <small class="pim-detail">Only products with at least one of the chosen attribute values will be available for this store</small>
                                                    </label>
                                                    <div class="controls controls-row">
                                                        <div class="flex mb1" style="width:100%;">
                                                            <div class="flex" style="flex-wrap: wrap;">
                                                                <div class="input--half" style="">
                                                                    <div style="margin-right:20px; margin-bottom:20px;">
                                                                        <div class="pim-el-wrap__header">
                                                                            <div class="pim-el-wrap__fields pim-el-wrap__fields--left">
                                                                                <span class="pim-el-wrap__field">
                                                                                    <span title="Prefix">Attribute</span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div>
                                                                            <selectize ng-model="settings.FilterAttributeUid" options="filterAttributes" config="filterAttributeConfig"></selectize>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="input--half" style="">
                                                                    <div style="margin-right:20px; margin-bottom:20px;">
                                                                        <div class="pim-el-wrap__header">
                                                                            <div class="pim-el-wrap__fields pim-el-wrap__fields--left">
                                                                                <span class="pim-el-wrap__field">
                                                                                    <span title="Prefix">AttributeValue</span>
                                                                                </span>
                                                                            </div>
                                                                        </div>

                                                                        <div>
                                                                            <selectize ng-model="settings.FilterAttributeGlobalListValueKeys" ng-required="settings.FilterAttributeUid" options="filterAttributeValueOptions" config="filterAttributeValueConfig"></selectize>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                </div>

                <div id="pricingModel" class="pim-tab-pane tab-pane" ng-class="{'active': controlModel.activeTab === 'pricingModel'}">
                    <ng-form>
                        <div class="pim-pane">
                            <div class="card" style="margin-bottom:20px" ng-if="loaded" ng-repeat="priceInfo in settings.PriceMapping">
                                <div class="card-header">
                                    <h4 class="card-title">
                                        Pricing
                                        <small>Currency specific price for items</small>
                                    </h4>
                                </div>
                                <div class="card-body pim-form-layout">
                                    <div class="pim-form-layout__wrapper">
                                        <div class="pim-form-layout__row">
                                            <div class="pim-form-layout__column">
                                                <div class="pim-el-wrap">
                                                    <label class="control-label">
                                                        Price ({{priceInfo.Currency}})
                                                    </label>
                                                    <div class="controls controls-row">
                                                        <selectize config="attributeConfig" ng-model="priceInfo.PriceAttributeUid" options="pimVariantNumberAttributes"></selectize>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pim-form-layout__column is-empty"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                </div>


                <div id="inventoryModel" class="pim-tab-pane tab-pane" ng-class="{'active': controlModel.activeTab === 'inventoryModel'}">
                    <ng-form name="inventoryForm">
                        <div class="pim-pane">
                            <div class="card" style="margin-bottom:20px" ng-if="loaded">
                                <div class="card-header">
                                    <h4 class="card-title">
                                        Inventory
                                    </h4>
                                </div>
                                <div class="card-body pim-form-layout">
                                    <div class="pim-form-layout__wrapper">
                                        <div class="pim-form-layout__row">
                                            <div class="pim-form-layout__column">
                                                <div class="pim-el-wrap">
                                                    <label class="control-label">
                                                        Stock
                                                        <small class="pim-detail">Stock available on variant in PIM</small>
                                                    </label>
                                                    <div class="controls controls-row">
                                                        <selectize config="attributeConfig" ng-model="settings.StockAttributeUid" options="pimVariantNumberAttributes"></selectize>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pim-form-layout__column is-empty"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>

        </div>

        <div class="pim-editor-drawer">
            <div class="pim-editor-drawer-content">
                <div class="pim-editor-drawer-content__right-side">
                    <button class="btn btn-success" ng-disabled="settingsForm.$invalid || pricingForm.$invalid || inventoryForm.$invalid" ng-click="saveGeneralSettings(settings.Uid)">Save settings</button>
                </div>
            </div>
        </div>

    </div>
</div>